body {
  font-family: sans-serif;
  background: #f0f0f0;
  padding: 20px;
}

.section {
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}
.section img.zoom {
  width: 200px;
  height: auto;
}
img {
  border: 5px solid red;
  width: 150px;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

.zoom {
  width: 200px;
  cursor: pointer;
}
img {
  display: block;
  margin: 0 auto;
}
